<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amin.abod.halaqa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tahfez_icon"
        android:label="@string/mainPageLabel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".students"
            android:label="@string/students" />
        <activity
            android:name=".halaqat"
            android:label="@string/halaqat" />
        <activity
            android:name=".teacher"
            android:label="@string/teachers" />
        <activity
            android:name=".management"
            android:label="@string/management" />
        <activity
            android:name=".addTeacher"
            android:label="@string/addTeacherAdd" />
        <activity
            android:name=".followHifz"
            android:label="@string/followHifz" />
        <activity
            android:name=".addStudent"
            android:label="@string/addStudent" />
        <activity
            android:name=".updateStudent"
            android:label="@string/updateStudent" />
        <activity
            android:name=".viewStudents"
            android:label="@string/viewStudent" />
        <activity
            android:name=".addNewStudent"
            android:label="@string/newStudent" />
        <activity
            android:name=".addStudentHaveBrother"
            android:label="@string/haveBrotherLabel" />
        <activity
            android:name=".viewTeachers"
            android:label="@string/viewTeacher" />
        <activity
            android:name=".editTeacher"
            android:label="@string/editTeacher" />
        <activity
            android:name=".addHalaqa"
            android:label="@string/addHalaqa" />
        <activity
            android:name=".viewHalaqat"
            android:label="@string/showHalaqa" />
        <activity
            android:name=".editHalaqat"
            android:label="@string/editHalaqa" />
        <activity
            android:name=".deleteStudent"
            android:label="@string/deleteStudent" />
        <activity
            android:name=".deleteTeacher"
            android:label="@string/deleteTeacher" />
        <activity
            android:name=".deleteHalaqa"
            android:label="@string/deleteHalaqa" />
        <activity
            android:name=".updateParentInfo"
            android:label="@string/updateParentInfo" />
        <activity android:name=".addTeacherFreshStart" />
        <activity android:name=".halaqatFreshStart" />
        <activity android:name=".welcomeActivity"></activity>
    </application>

</manifest>